* text eol=lf
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.jar           binary
